# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/KnurDash*

#LTSpice
/LTSpice/**/*.raw
/LTSpice/**/*.log

# Kicad
**/KnurCAN_V2-backups**/*