window {
    background: black;
    color: #f7f7f7;
    font-family: "Piboto";
}

.gaugeFrame {
    margin: 3px;
    border: 1px solid;
    border-radius: 8px;
}

.gaugeFrameLabel {
    font-size: 16px;
}

.mainGauge {
    margin: -10px;
    font-size: 75px;
}

.subGauge {
    margin: -2px;
    font-size: 30px;
}

.notify {
    color: #59b2ff;
}

.warning {
    color: #ffaa00;
}

.alert {
    background: red;
    color: black;
}

.status {
    margin: 4px;
    background: #101010;
}

.status:insensitive * {
    color: #101010;
}

.statusOn:insensitive * {
    color: #f7f7f7;
}

button {
    margin: 8px;
    border-radius: 8px;
    background: #2b2b2b;
    color: #f7f7f7;
    font-size: 20px;
}

button:active {
    background: red;
    transition-duration: 0ms;
}